In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios - Métodos e Funções

In [7]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números      

def imprimir_numeros_pares():
    for num in range(2, 21, 2):
        print(num)

In [8]:
imprimir_numeros_pares()

2
4
6
8
10
12
14
16
18
20

In [2]:
# Exercício 2 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string

def funcao_string(palavra):
    print(palavra.upper())

funcao_string("jude");

JUDE

In [14]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
def func(lista):
    lista.append(5)
    lista.append(6)
    return lista

In [15]:
lista = [1,2,3,4]
func(lista)

[1, 2, 3, 4, 5, 6]

In [18]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos

def func(arg,*lista):
    print(arg)
    for i in lista:
        print(i)

func(2)
func(6)
func(lista)

2
6
[1, 2, 3, 4, 5, 6]

In [20]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles

func = lambda num1, num2: num1 + num2

func(1, 2)

3

In [21]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

In [25]:
# Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
# Crie uma função anônima que converta cada temperatura para Fahrenheit
# Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 
# (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
# Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!
Celsius = [39.2, 36.5, 37.3, 37.8]

Fahrenheit = map(lambda x: (x*1.8) + 32, Celsius)

print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [23]:
# Exercício 8
# Crie um dicionário e liste todos os métodos e atributos do dicionário
dicionario = {'chocolate':'comida','tesoura':'objeto','ferro':'mineral'}
print(dicionario)
dir(dicionario)

{'chocolate': 'comida', 'tesoura': 'objeto', 'ferro': 'mineral'}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# Exercício 9
# Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados.
# Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.
import pandas as pd
dir(pd)

In [28]:
# ************* Desafio ************* (pesquise na documentação Python)

# Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
import pandas as pd
file_name = "binary.csv"

def read_csv1(file):
    df = pd.read_csv(file)
    return df.describe()

read_csv1(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000