Em pandas, loc, iloc, at e iat são usados ​​para selecionar e acessar dados de um DataFrame.

Eles fornecem diferentes maneiras de indexar e recuperar dados de suas estruturas de dados.

---------------------------------------------------
loc: Indexação baseada em rótulo

df.loc[row_label, column_label] 

é usado para acessar dados especificando rótulos de linhas e colunas. Inclui os limites de início e parada.

Exemplo:df.loc[2, 'Column_Name']

---------------------------------------------------
iloc: Indexação baseada em números inteiros

df.iloc[row_index, column_index]

é usado para acessar dados especificando índices de linhas e colunas. Ele usa posições inteiras baseadas em zero.

Exemplo:df.iloc[0, 2]

---------------------------------------------------
at: Acesso escalar rápido usando rótulo

df.at[row_label, column_label] 

é usado para acessar um único elemento em um DataFrame especificando rótulos de linha e coluna. É mais rápido do que loc acessar valores únicos.

Exemplo:df.at[2, 'Column_Name']

---------------------------------------------------
iat: Acesso escalar rápido usando número inteiro

df.iat[row_index, column_index]

é semelhante, atmas usa posições inteiras. É mais rápido do que iloc acessar valores únicos.

Exemplo:df.iat[0, 2]

In [2]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data, index=['X', 'Y', 'Z'])

In [3]:
df

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

In [4]:
# Using loc
value_loc = df.loc['Y', 'B']

In [5]:
value_loc

5

In [7]:
# Using iloc
value_iloc = df.iloc[1, 1]

In [8]:
value_iloc

5

In [9]:
df.at['Y', 'B'] = 6

In [10]:
# Using at
value_at = df.at['Y', 'B']

In [11]:
value_at

6

In [12]:
df.iat[1, 1] = 7

In [13]:
# Using iat
value_iat = df.iat[1, 1]

In [14]:
value_iat

7

In [15]:
df

   A  B  C
X  1  4  7
Y  2  7  8
Z  3  6  9