In [51]:
import pandas as pd
import numpy as np

In [75]:
## 1 - Construir uma listagem e gravar em .xlsx dos fabricantes
## classificados crescentemente pelo valor médio de carboidratos em seus produtos,
## com o nome [carboidratos_crescente.xlsx]

df = pd.read_csv('cereais.csv')
df2 = df.groupby(['fabricante'])['carboidratos '].mean()
df3 = df2.sort_values(ascending=True)
df3
#df3.to_excel('resultado.xlsx')

fabricante
Q    10.000000
P    13.222222
G    14.727273
K    15.130435
A    16.000000
N    16.000000
R    17.625000
Name: carboidratos , dtype: float64

In [57]:
## 2 - Construir uma listagem e gravar em .xlsx dos fabricantes, classificando-os decrescentemente pelo valor das proteínas em média, 
## com o tipo = C, ou seja, consumo frio, em seus produtos, com o nome [proteinas_decrescente.xlsx]
df2 = df.groupby(['fabricante'])['proteinas'].mean()
df2.sort_values(ascending=False)
#df2.to_excel('proteinas_decrescente.xlsx')

fabricante
A    4.000000
N    2.833333
K    2.652174
Q    2.625000
R    2.500000
P    2.444444
G    2.318182
Name: proteinas, dtype: float64

In [56]:
## 3 - Construir uma listagem e gravar em .xlsx dos fabricantes,
## classificando do valor maior ao menor desvio padrão encontrado de Vitaminas em seus produtos, 
## com o nome [vitaminas_desvio_padrao.xlsx]
df2 = df.groupby(['fabricante'])['vitaminas'].std()
df2.sort_values(ascending=False)
#df2.to_excel('vitaminas_desvio_padrao.xlsx')

fabricante
G    26.343756
K    25.826267
Q    13.363062
N    12.909944
P     0.000000
R     0.000000
A          NaN
Name: vitaminas, dtype: float64

In [74]:
## 4 - Construa um relatório e grave em .xlsx dos fabricantes referente aos seus produtos, 
## onde possa ser verificado os valores mínimos, máximos, média e desvio padrão do potássio, 
## com o nome [analise_potassio.xlsx]
df2 = df.groupby(
        ['fabricante']
).agg(
        Minimo = ('potassio', 'min'),
        Maximo = ('potassio', 'max'),
        Desvio_padrao = ('potassio', 'std')
)
df2
#df2.to_excel('analise_potassio.xlsx')

            Minimo  Maximo  Desvio_padrao
fabricante
A               95      95            NaN
G               25     230      45.682060
K               20     330      91.982448
N               -1     280      91.829552
P               25     260      83.470720
Q               15     135      43.378525
R               -1     170      66.387929