# Atividade

Após calcular o IMC, utilizando o resultado do mesmo, crie uma nova coluna chamada categoria, conforme as classificações relacionada abaixo:

- Abaixo de 18,5: Abaixo do peso
- 18,5 a 24,9: Peso saudável
- 25,0 a 29,9: Sobrepeso
- 30,0 a 34,9: Obesidade grau I
- 35,0 a 39,9: Obesidade grau II
- 40,0 ou mais: Obesidade grau III (obesidade mórbida)

In [3]:
import pandas as pd

In [4]:
dados = pd.read_excel('alunos.xlsx')

In [5]:
dados['Alturas'] = dados['Alturas'].astype(float)

In [6]:
dados['IMC'] = dados['Pesos'] / (dados['Alturas'] * dados['Alturas'])

In [7]:
dados

    Pesos  Alturas        IMC
0      58     1.58  23.233456
1      78     1.80  24.074074
2      70     1.70  24.221453
3      80     1.80  24.691358
4      77     1.76  24.857955
5      74     1.73  24.725183
6      61     1.63  22.959088
7      65     1.65  23.875115
8      55     1.56  22.600263
9      96     1.40  48.979592
10     54     1.56  22.189349
11     53     1.51  23.244595
12     69     1.69  24.158818
13     75     1.67  26.892323
14     72     1.74  23.781213
15     58     1.60  22.656250
16     53     1.52  22.939751
17    155     1.57  62.882876
18     57     1.57  23.124670
19     66     1.67  23.665244
20     65     1.64  24.167162
21     50     1.50  22.222222
22     63     1.64  23.423557
23     58     1.56  23.833005
24     75     1.56  30.818540
25     63     1.62  24.005487
26     73     1.71  24.964946
27     80     1.01  78.423684
28     76     1.76  24.535124

In [8]:
# Retorna o valor correspondente a categoria
def category(imc):
    if imc < 18.5:
        return "Abaixo do peso"
    elif imc >= 18.5 and imc < 25.0:
        return "Peso saudável"
    elif imc > 24.9 and imc < 30.0:
        return "Sobrepeso"
    elif imc > 29.9 and imc < 35.0:
        return "Obesidade grau I"
    elif imc > 34.9 and imc < 40.0:
        return "Obesidade grau II"
    else:
        return "Obesidade grau III"

In [9]:
dados['Categoria'] = dados['IMC'].apply(lambda x: category(x)).astype(str)

In [10]:
 dados['IMC'].apply(lambda x: x)

0     23.233456
1     24.074074
2     24.221453
3     24.691358
4     24.857955
5     24.725183
6     22.959088
7     23.875115
8     22.600263
9     48.979592
10    22.189349
11    23.244595
12    24.158818
13    26.892323
14    23.781213
15    22.656250
16    22.939751
17    62.882876
18    23.124670
19    23.665244
20    24.167162
21    22.222222
22    23.423557
23    23.833005
24    30.818540
25    24.005487
26    24.964946
27    78.423684
28    24.535124
Name: IMC, dtype: float64

In [11]:
dados

    Pesos  Alturas        IMC           Categoria
0      58     1.58  23.233456       Peso saudável
1      78     1.80  24.074074       Peso saudável
2      70     1.70  24.221453       Peso saudável
3      80     1.80  24.691358       Peso saudável
4      77     1.76  24.857955       Peso saudável
5      74     1.73  24.725183       Peso saudável
6      61     1.63  22.959088       Peso saudável
7      65     1.65  23.875115       Peso saudável
8      55     1.56  22.600263       Peso saudável
9      96     1.40  48.979592  Obesidade grau III
10     54     1.56  22.189349       Peso saudável
11     53     1.51  23.244595       Peso saudável
12     69     1.69  24.158818       Peso saudável
13     75     1.67  26.892323           Sobrepeso
14     72     1.74  23.781213       Peso saudável
15     58     1.60  22.656250       Peso saudável
16     53     1.52  22.939751       Peso saudável
17    155     1.57  62.882876  Obesidade grau III
18     57     1.57  23.124670       Peso saudável
19     66     1.67  23.665244       Peso saudável
20     65     1.64  24.167162       Peso saudável
21     50     1.50  22.222222       Peso saudável
22     63     1.64  23.423557       Peso saudável
23     58     1.56  23.833005       Peso saudável
24     75     1.56  30.818540    Obesidade grau I
25     63     1.62  24.005487       Peso saudável
26     73     1.71  24.964946       Peso saudável
27     80     1.01  78.423684  Obesidade grau III
28     76     1.76  24.535124       Peso saudável

In [13]:
dados.to_excel('alunos_categoria.xlsx', index=False)