# Pandas Lendo Arquivos .XLSX

In [101]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.4

In [102]:
import pandas as pd

### Carregando arquivo XLSX

In [103]:
# Carregando arquivo xlsx usando Pandas 
dados = pd.read_excel('alunos.xlsx')

In [104]:
# Visualizando as dimensões
dados.shape

(29, 2)

In [105]:
# Tipo de dados de cada atributo
dados.dtypes

Pesos        int64
Alturas    float64
dtype: object

In [106]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pesos    29 non-null     int64
 1   Alturas  29 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 596.0 bytes

In [107]:
# converter em Float
dados['Alturas'] = dados['Alturas'].astype(float)

# Como criar uma nova coluna derivada de colunas existentes

Nova coluna com o Índice de Massa Corporal (IMC)

onde: 

IMC = Peso dividido por altura ao quadrado.

In [108]:
dados['IMC'] = dados['Pesos'] / ( dados['Alturas'] * dados['Alturas'] )

In [109]:
dados

    Pesos  Alturas        IMC
0      58     1.58  23.233456
1      78     1.80  24.074074
2      70     1.70  24.221453
3      80     1.80  24.691358
4      77     1.76  24.857955
5      74     1.73  24.725183
6      61     1.63  22.959088
7      65     1.65  23.875115
8      55     1.56  22.600263
9      96     1.40  48.979592
10     54     1.56  22.189349
11     53     1.51  23.244595
12     69     1.69  24.158818
13     75     1.67  26.892323
14     72     1.74  23.781213
15     58     1.60  22.656250
16     53     1.52  22.939751
17    155     1.57  62.882876
18     57     1.57  23.124670
19     66     1.67  23.665244
20     65     1.64  24.167162
21     50     1.50  22.222222
22     63     1.64  23.423557
23     58     1.56  23.833005
24     75     1.56  30.818540
25     63     1.62  24.005487
26     73     1.71  24.964946
27     80     1.01  78.423684
28     76     1.76  24.535124

In [110]:
dados.to_excel('alunos_new.xlsx')

# Atividade

Após calcular o IMC, utilizando o resultado do mesmo, crie uma nova coluna chamada categoria, conforme as classificações relacionada abaixo:

- Abaixo de 18,5: Abaixo do peso
- 18,5 a 24,9: Peso saudável
- 25,0 a 29,9: Sobrepeso
- 30,0 a 34,9: Obesidade grau I
- 35,0 a 39,9: Obesidade grau II
- 40,0 ou mais: Obesidade grau III (obesidade mórbida)

Criar tb um novo arquivo chamado categorias_IMC.xlsx

Código .ipynb deve ser enviado ao email - marcelo.euzebio.batista@gmail.com até dia 9/9/2023 às 23:59

Atenção >>>> em caso de código repetido ou com nível de semelhança acima de 90%, todos os códigos envolvidos receberão nota ZERO.

Mãos a obra meu programador!